* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$blue: #25274d;
$white: #fff;
$black: #000;
$yellow: #ffeb5e;
$primary: rgba(196, 55, 46, 0.9);
$secondary: #504d4dcc;
$red: rgba(169, 14, 51, 0.9);
$pink: #fcf5f3;
$brown: #edc7b7;
